@import './variables';
@import '~bulma/bulma';
@import '~bulma-tooltip/tooltip';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Lato');

body {
  color: $black;
  font-family: 'Proxima Nova', 'Lato', Helvetica, Arial, sans-serif;
}

p {
  color: $black;
  display: block;
  margin: 1em 0;
  font-family: 'Proxima Nova', 'Lato', Helvetica, Arial, sans-serif;


  strong  {
    color: $primary;
  }
}

a {
  color: $black;
  opacity: 0.8;
  text-decoration: underline;
}

a:hover {
  color: $primary;
}

h1, h2, h3 {
  color: $black;
  font-family: 'Playfair Display', 'Didot', serif;
}

.SectionContainer {
  margin: $spacing-xxlarge auto;
  max-width: 800px;

  @include for-phone-only {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }

  @include for-tablet-portait-only {
    margin-left: $spacing-xlarge;
    margin-right: $spacing-xlarge;
   }
}

.Skills {
  &-list {
    margin: $spacing-mid 0;

    li {
      display: inline-block;
      margin: $spacing-xxsmall 0;
    }
  }
}

.SkillTag {
  border-radius: $spacing-large;
  font-size: 0.7rem;
  margin: $spacing-large $spacing-xxsmall;
  padding: $spacing-xxsmall $spacing-large;

  &--dev {
    background-color: $devskill;
    color: $white;
  }
  
  &--ux {
    background-color: $uxskill;
    color: $white;
  }
}

.Subtitle {
  color: $black;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  opacity: 0.8;
  position: relative;

  &--highlight {
    background: $highlight;
    display: inline-block;
    height: $spacing-mid;
    left: -$spacing-mid;
    opacity: 0.1;
    position: absolute;
    top: $spacing-xsmall;
    width: 110%;
    width: calc(100% + 32px);
    z-index: -10;
  }
}

.Title {
  color: $black;
  font-size: 2.5rem;

  &--primary {
    color: $primary;
  }

  &--section {
    font-size: 2rem;
    margin-bottom: $spacing-large;
  }
}

.Work {
  &-Header {
    background-image: url('~assets/images/header.png');
    background-size: cover;
    height: 400px;
    padding: $spacing-xlarge 0;
    position: relative;
    z-index: -10;

    &-Image {
      bottom: 0;
      height: 300px;
      position: absolute;
      right: $spacing-xxlarge;
      width: auto;
      z-index: -5;

      @include for-phone-only {
       height: 160px;
       right: $spacing-mid;
      }

      @include for-tablet-portait-only {
        height: 215px;
        right: $spacing-small;
       }
     }
  }

  &-Samples {
    img {
      margin: $spacing-small 0;
      padding: 0 $spacing-small;
    }
  }
}