// Spacing
$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 12px;
$spacing-mid: 16px;
$spacing-large: 24px;
$spacing-xlarge: 36px;
$spacing-xxlarge: 60px;
$spacing-xxxlarge: 72px;

$radius: 3px;
$radius-tag: 16px;
$size-logo: 160px;

// Colors
$primary: #8B1630;
$black: #3F393A;
$info: #BFD5FF;
$highlight: #8B1630;
$background: #F7E4D0;

$devskill: #86AAEF;
$uxskill: #D4607A;

// Titles
$title-color: $black;
$title-strong-color: $primary;
